* {
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
}
header{
    width: 850px;
    height: 350px;
    background-color: #3b5998;
    margin: 0 auto;
}
/* establishing structure */
.profile-pic{
    width: 150px;
    height: 150px;
    background-color: #3b5998;
    border: 1px solid black;
    position: relative;
    z-index: 2;
    top: 225px;
    left: 30px;
}
/* heading styling */
.title{
    color: white;
    position: relative;
    left: 200px;
    top: 90px;
}
/* social nav bar */
.social {
    float: right;
    position: relative;
    left: -20px;
    top: 20px;
}
.social li{
    background-color: white;
    margin: 0 auto;
    display: inline;
    padding: 7px;
    border: 1px solid black;
    border-radius: 2px;
}
#like-button{
    margin-right: 10px;
}
#follow{
    text-align: center;
}
/* for the under profile pic nav bar */
.bot{
    background-color: white;
    width: 848px;
    height: 50px;
    border: 1px solid rgba(131, 131, 131, 0.5);
    margin: 0 auto;
    z-index: 1;
}
.profile li{
    display: inline;
    list-style-type: none;
    position: relative;
    left: 160px;
}
.profile li:not(:last-child):after {
    content: " |";
    padding: 10px;
    color: rgba(131, 131, 131, 0.5)
}
/* column styling */
.row{
    margin: 0 auto;
    width: 850px;
}
.column{
    position: relative;
    float: left;
}
.row:after{
    content: "";
    display: table;
}
#left{
    width: 328px;
    margin-right: 5px;
}
#right{
    width: 512px;
    margin-left: 5px;
}
.info-block{
    background-color: #ffffff;
    padding-left: 2px;
    margin-bottom: 2px;
}
/* copyright bar underneath left column */
.copyright{
    list-style-type: none;
    font-size: 10px;
    float: left;
}
.copyright li{
    display: inline;
}
.copyright li:not(:last-child):after{
    content: " •";
    padding: 2px;
}